:root{
    background: white;
    --primary-blue : rgb(56, 102, 211);
    --secondary-blue : rgba(56, 102, 211, .5);
}
.Navigation {
    width: 100%;
    height: 7vh;
    position: sticky;
    top: 0; 
    z-index: 100; 
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: .75fr .75fr 2fr .75fr .75fr;
    margin-bottom: 2%
  }
  .categoryList {
    margin: 0 5%;
    width: 90%;
    display: grid;
    row-gap: 4vh; /* Adjust this value based on your layout */
    text-align: center;
    color: black;
  }
  .item{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1.75rem;
    align-items: center;
    border-bottom: .125rem solid gray ;
  }
  .item form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .item input[type='text']{
    font-size: 1.50rem;
    width: 90%;
    position: relative;
    padding: 0 1% 0 5%;
    border-radius: 1rem;
    outline: 1px solid gray;
    border: 0;
  }
  .item h5{
    position: absolute;
    color: gray;
    left: 6%;
    transform: translateY(10%);
  }
  .item.active{
    color: var(--primary-blue);
    border-radius: 2rem 2rem 0 0 ;
    border: .5px solid var(--secondary-blue);
    border-bottom: var(--primary-blue) 2px solid;
    box-shadow: 0px 8px 20px -.2rem var(--primary-blue);
    position: relative;
  }
  .categoryList .icon{
    font-size: 5rem;
  }
  .category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: .5s;
  }
  .category:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }